body {
    background-color: lightblue;
}

.tabs {
    width: 100%;
    padding: 0px;
    margin: 10px auto;
    text-align: center;
}

    .tabs > input {
        display: none;
    }

    .tabs > div {
        display: none;
        padding: 12px;
        border: 1px solid #C0C0C0;
        background: #FFFFFF;
        text-align: left;
    }

    .tabs > label {
        display: inline-block;
        padding: 7px;
        /*margin: 0 -5px -1px 0;*/
        margin-right: 20px;
        margin-top: -5px;
        margin-bottom: -1px;
        text-align: center;
        color: #666666;
        border: 1px solid #C0C0C0;
        background: #3399FF;
        cursor: pointer;
    }

    .tabs > input:checked + label {
        color: #000000;
        border: 1px solid #C0C0C0;
        border-bottom: 1px solid #FFFFFF;
        background: #FFFFFF;
    }

#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2 {
    display: block;
}


#select_group {
    margin-left: 130px;
}

#select_discipline {
    margin-left: 30px;
}

#gr1::selection ~ #base_students_gr1,
#gr2::selection ~ #base_students_gr2 {
    display: block;
}

.bl-scroll {
    width: 95%;
    max-height: 200px; /*Высота блока после которой начнется прокрутка*/
    display: inline-block;
    overflow-x: hidden; /*непосредственно прокрутка*/
    margin: 10px -3px;
    padding-top: 1px;
    margin-left: 20px;
}

#body {
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #096BAA;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #096BAA;
}