
#ID {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    width: 30px;
    height: 40px;
    float: left;
    margin: 1px;
}

#Avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    width: 40px;
    height: 40px;
    float: left;
    margin: 1px;
}

#Name {
    display: flex;
    align-items: center;
    overflow: auto;
    width: 300px;
    height: 40px;
    float: left;
    margin: 1px;
}

#Score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    float: left;
    margin: 1px;
}

#MidScore {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    float: left;
    margin: 1px;
}

#Title {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#line {
    width: auto
}

