﻿body {
   
}

#colorBody {
    background-color: lightgray;
}

header {
    margin: 20px;
}

h1 {
    text-align: center;
}

.tabs {
    width: 95%;
    padding: 0px;
    margin: 10px auto;
    text-align: center;    
}

    .tabs > input {
        display: none;
    }

    .tabs > div {
        display: none;
        padding: 12px;
        border: 1px solid #C0C0C0;
        background: #FFFFFF;
        text-align: left;
       
    }

    .tabs > label {
        background-color: lavender;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        color: #08C;
        font-size: 20px;
        font-weight: normal;
        font-family: 'Lily Script One', helveti;
        background: rgba(255, 255, 255, 0.2);
        cursor: pointer;
        position: relative;
        top: 10px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .tabs > input:checked + label {
        color: #000000;
        border: 1px solid #C0C0C0;
        border-bottom: 1px solid #FFFFFF;
        background: #FFFFFF;       
    }

#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2 {
    display: block;
    border-radius: 0px 20px 20px 20px;   
}

#select_group {
    margin-left: 25px;
}

#select_discipline {
    margin-left: 30px;
}


.bd_gr1 {
    width: 95%;
    max-height: 50px;
    display: inline-block;
    margin: 10px -3px;
    padding-top: 1px;
    margin-left: 20px;
}


#studDiv * {
    display: inline;
}

